@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
body{
    position: relative;
    font-family: 'Pretendard';
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.bold{
    font-weight: 700;
}

.wrap{
    margin: 0 5.2083vw;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.6458vw;
    background: #fff;
    border-bottom: 0.0781vw solid #000;
    z-index: 10;
}
header h3{
    padding-left: 2.6041vw;
    font-size: 2.5rem;
}
header ul{
    padding-right: 2.6041vw;
    width: 50%;
    text-align: right;
}
header li{
    display: inline-block;
    margin-left: 7%;
    font-size: 1.8rem;

}


#main{
    position: relative;
    padding: 0;
    overflow: hidden;
    cursor: none;
    background: #fff;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: none;
}

.flex p{
    margin-bottom: -5.2083vw;
    text-align: center;
    font-family: 'Inter';
    font-size: 28rem;
    color: #fff;
    white-space: nowrap;
    -webkit-text-stroke: 0.1822vw black;
}
.flex p:last-child{
    margin: 0;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: #fff;
    border: 0.052vw solid #fff;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: all 0.15s ease-out;
    z-index: 1;
}

#main .zoom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background: #fff;
    border-radius: 50%;
}

#introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46.875vw;
    text-align: left;
    background: #fff;
    color: #000
}
#introduce span{
    font-size: 9rem;
}
#introduce h2{
    font-size: 9rem;
    font-weight: 800;
}
#introduce h1{
    margin-bottom: 1vw;
    padding-bottom: 4vw;
    font-size: 9rem;
    font-weight: 800;
    border-bottom: solid 0.2vw #000;
}
#skill ul{
    display: flex;
    justify-content: center;
}
#skill li{
    display: inline-block;
    margin: 0.5208vw 0.7812vw;
    padding: 0.5208vw 0.7812vw;
    font-size: 2rem;
    border: solid 0.052vw #000;
    border-radius: 2.6041vw;
}

#gallery{
    padding-top: 100vh;
    width: 100%;
    height: 200vw;
    background-image: url(./img/projects.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#gallery article{
    position: relative;
    margin: 0 5.2083vw;
}
#gallery article a{
    position: absolute;
}
#gallery article img{
    height: 30vw;
}
#gallery article a:nth-child(2){
    top: 40vw;
    right: 0;
    height: 30vw;
}
#gallery article a:nth-child(3){
    top: 80vw;
    left: 0;
}
#gallery article a:nth-child(4){
    top: 120vw;
    right: 0;
}
#gallery article a:nth-child(5){
    top: 160vw;
    left: 0;
}

#resume{
    padding-top: 10vw;
    margin-right: 5.2083vw;
}

#resume h2{
    font-size: 10rem;
    margin-right: 2.6041vw;
}

.reseme-top div{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

#resume img, #resume a{
    width: 20vw;
    height: 20vw;
    border: solid 0.052vw #000;
}
#resume a{
    background: #EEEEEE;
    color: #fff
}
.reseme-top{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.reseme-bottom{
    display: flex;
    justify-content: space-between;
    margin: 2vw 0 0 29.5vw;
    width: 45%;
}

#contact{
    margin: 15.625vw 0 2.0833vw 0;
}
#contact ul{
    margin: 0 5.2083vw;
}
#contact li{
    display: inline-block;
    margin-right: 2.6041vw;
    padding: 0.5208vw 2.6041vw;
    font-size: 2rem;
    border: solid 0.052vw #000;
    border-radius: 2.6041vw;
}
#contact p{
    margin: 2.6041vw 5.2083vw 0 5.2083vw;
    font-size: 3rem;
}
#contact p span{
    display: inline-block;
    margin-right: 0.677;
    width: 1.302vw;
    height: 1.302vw;
    border-radius: 2.6041vw;
    background-color: #33FF00;
}
#mail{
    display: flex;
    align-items: center;
    margin: 0 5.2083vw;
}
#mail h1{
    font-size: 14.4rem;
    margin-right: 2.6041vw;
    background-image: linear-gradient(45deg, #FF4A81 0%, #FAFF00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#mail img{
    width: 5.2083vw;
    height: 5.2083vw;
}
#contact h2{
    overflow: hidden;
    white-space: nowrap;
    margin-top: 8.8541vw;
    font-size: 9rem;
    color: #fff;
    -webkit-text-stroke: 0.0104vw black;
}
#copyright{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 5.2083vw;
}
#copyright p{
    margin: 0 0.2604vw 0 5.2083vw;
    font-size: 2rem;
    color: #A9A9A9;
}
#copyright img{
    height: 1.25vw;
}


/*-----------scroll-----------*/
#scroll{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 95%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}
#scroll p{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
