@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
body{
    position: relative;
    font-family: 'Pretendard';
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.bold{
    font-weight: 700;
}

.wrap{
    margin: 0 5.2083vw;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.6458vw;
    background: #fff;
    border-bottom: 0.0781vw solid #000;
    z-index: 10;

    transition: top 0.5s ease;
}
header h3{
    padding-left: 2.6041vw;
    font-size: 2.5rem;
}
header ul{
    padding-right: 2.6041vw;
    width: 50%;
    text-align: right;
}
header li{
    display: inline-block;
    margin-left: 7%;
    font-size: 1.8rem;

}


#main{
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    cursor: none;
    background: #fff;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: none;
}

.flex p{
    margin-bottom: -5.2083vw;
    text-align: center;
    font-family: 'Inter';
    font-size: 28rem;
    color: #fff;
    white-space: nowrap;
    -webkit-text-stroke: 0.1822vw black;
}
.flex p:last-child{
    margin: 0;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: #fff;
    border: 0.052vw solid #fff;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: all 0.15s ease-out;
    z-index: 1;
}

#main .zoom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transition: all -.5s ease;
}

.empty{
    height: 46.875vw;
    background: #fff;

}

#introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46.875vw;
    text-align: left;
    background: #fff;
    color: #000
}
#introduce span{
    font-size: 9rem;
}
#introduce h2{
    font-size: 9rem;
    font-weight: 800;
}
#introduce h2:nth-child(2){
    position: relative;
    width: 100%;
    padding-left: 17.3vw;
}
#introduce .stretch{
    position: absolute;
    left: 0;
}
#introduce .stretch span{
    display: inline-block;
    margin-left: -1vw;
}
#introduce .stretch span:first-child{
    margin-left: 0;
    animation: stretch1 2s infinite;
}
#introduce .stretch span:nth-child(2){
    animation: stretch2 2s infinite;
}
#introduce .stretch span:nth-child(3){
    animation: stretch3 2s infinite;
}
@keyframes stretch1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-6vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes stretch2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-4vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes stretch3 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2vw);
    }
    100% {
        transform: translateX(0);
    }
}

#introduce .hard2{
    margin-left: 12vw;
}
#introduce .hard{
    position: absolute;
    top: 0;
    left: 27.35vw;
}
#introduce .hard span{
    display: inline-block;
    margin-left: -1vw;
}

#introduce .hard span:first-child{
    animation: hard1 2s infinite;
}
#introduce .hard span:nth-child(2){
    animation: hard2 2s infinite;
}
#introduce .hard span:nth-child(3){
    animation: hard3 2s infinite;
}
@keyframes hard1 {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-3vw);
    }
    50% {
        transform: translateY(-3vw);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes hard2 {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-3vw);
    }
    50% {
        transform: translateY(-3vw);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes hard3 {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3vw);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}



#introduce .name{
    margin-bottom: 1vw;
    padding-bottom: 4vw;
    font-size: 9rem;
    font-weight: 800;
    border-bottom: solid 0.2vw #000;
}
#skill ul{
    display: flex;
    justify-content: center;
}
#skill li{
    display: inline-block;
    margin: 0.5208vw 0.7812vw;
    padding: 0.5208vw 0.7812vw;
    font-size: 2rem;
    border: solid 0.052vw #000;
    border-radius: 2.6041vw;
}

#gallery{
    padding-top: 100vh;
    width: 100%;
    height: 200vw;
    background-image: url(./img/projects.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#gallery article{
    position: relative;
    margin: 0 5.2083vw;
}
#gallery article a{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.left img:first-child{
    height: 30vw;
}
.left img:last-child{
    height: 15vw;
    margin-left: 5vw;
    padding: 2vw;
    background: #fff;
}
.right img:last-child{
    height: 30vw;
}
.right img:first-child{
    height: 15vw;
    margin-right: 5vw;
    padding: 2vw;
    background: #fff;
}
#gallery article a:nth-child(2){
    top: 40vw;
    right: 0;
    height: 30vw;
}
#gallery article a:nth-child(3){
    top: 80vw;
    left: 0;
}
#gallery article a:nth-child(4){
    top: 120vw;
    right: 0;
}
#gallery article a:nth-child(5){
    top: 160vw;
    left: 0;
}

#resume{
    padding-top: 10vw;
    margin-right: 5.2083vw;
}

#resume h2{
    font-size: 10rem;
    margin-right: 2.6041vw;
}

#resume h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border: solid 0.052vw #000;
    font-size: 10rem;

}
#resume a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    font-size: 30rem;
    border: solid 0.052vw #000;
    background: #EEEEEE;
    color: #000;
}

.resume-top{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.resume-top div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.resume-bottom{
    display: flex;
    justify-content: space-between;
    margin: 2vw 0 0 29.5vw;
    width: 45%;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    height: 100vh;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 7.8125vw;
}
.profile img{
    width: 39.0625vw;
    height: 39.0625vw;
}

.profile-text{
    display: flex;
    flex-direction: column;
    height: 34.7395vw;
}

.profile-text p {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5.2083vw;
}
.profile-text>span{
    position: relative;
    width: 3vw;
    border-bottom: 0.4687vw solid #000;
    margin-bottom: 2.6041vw;
    animation: light2 1s infinite;
}
.profile-text>span::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(283%, -40%);
    width: 0.4687vw;
    height: 3vw;
    background: #000;
    transition: transform 0.5s ease;
}

.profile-text span.rotate::before {
    top: 0;
    left: 0;
    transform: translate(283%, -40%) rotate(90deg);
    transition: transform 0.5s ease;
}

@keyframes light2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


.scroll-text{
    position: relative;
}
.scroll-text h2 {
    width: 41.6666vw;
    height: 24.7395vw;
    font-size: 8rem;
    font-weight: 900;
    color: #000;
}
.scroll-text span{
    color: #A9A9A9;
}
.scroll-text span:hover{
    color: #000;
    transition: color 0.2s ease;
}

.scroll-text div{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24.7395vw;
    font-size: 3rem;
    font-weight: 600;

    display: none;

}
.scroll-text ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.8541vw;
}
.scroll-text li:first-child{
    padding: 0.5208vw 1.302vw;
    border: 0.2vw solid #000;
    border-radius: 10vw;
}
.scroll-text ul:last-child li{
    color: #fff;
    background: #000;
    padding: 0.5208vw 1.302vw;
    border: 0.2vw solid #000;
    border-radius: 10vw;
}


#copyright{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 15.5vw;
    padding-bottom: 1vw;
    margin-top: 3vw;
}
#copyright p{
    font-size: 2rem;
    color: #A9A9A9;
}
#copyright img{
    height: 1.25vw;
}


/*-----------scroll-----------*/
#scroll{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 95%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    animation: light 1.5s infinite;
}
@keyframes light {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#scroll p{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
